<div class="flex h-screen bg-gray-100">
  <div class="w-64">
    <app-sidebar></app-sidebar>
  </div>

  <div class="flex-grow flex flex-col">
    <div class="flex flex-row justify-between">
      <div class="bg-white w-1/5 m-6 rounded-lg flex flex-col justify-between h-40">
        <div class="flex flex-col items-center justify-center h-full">
          <span class="text-4xl">$53.29</span>
          <span class="text-green-500 text-xl"><i class="bx bx-up-arrow-alt"></i> 4.32%</span>
        </div>
        <div class="bg-slate-200  rounded-b-lg text-center py-2">
          <span class="text-xl">Sales Today</span>
        </div>
      </div>

      <div class="bg-white w-1/5 m-6 rounded-lg flex flex-col justify-between h-40">
        <div class="flex flex-col items-center justify-center h-full">
          <span class="text-4xl">4</span>
          <span class="text-red-500 text-xl"><i class="bx bx-down-arrow-alt"></i> -0.32%</span>
        </div>
        <div class="bg-slate-200 rounded-b-lg text-center py-2">
          <span class="text-xl">Orders Today</span>
        </div>
      </div>

      <div class="bg-white w-1/5 m-6 rounded-lg flex flex-col justify-between h-40">
        <div class="flex flex-col items-center justify-center h-full">
          <span class="text-4xl">$1093.86</span>
          <span class="text-green-500 text-xl"><i class="bx bx-up-arrow-alt"></i> 2.06%</span>
        </div>
        <div class="bg-slate-200 rounded-b-lg text-center py-2">
          <span class="text-xl">Sales This Month</span>
        </div>
      </div>

      <div class="bg-white w-1/5 m-6 rounded-lg flex flex-col justify-between h-40">
        <div class="flex flex-col items-center justify-center h-full">
          <span class="text-4xl">637</span>
          <span class="text-green-500 text-xl"><i class="bx bx-up-arrow-alt"></i> 2.06%</span>
        </div>
        <div class="bg-slate-200  rounded-b-lg text-center py-2">
          <span class="text-xl">Store Visitors Today</span>
        </div>
      </div>

      <div class="bg-white w-1/5 m-6 rounded-lg flex flex-col justify-between h-40">
        <div class="flex flex-col items-center justify-center h-full">
          <span class="text-4xl">6.06%</span>
          <span class="text-green-500 text-xl"><i class="bx bx-up-arrow-alt"></i> 2.06%</span>
        </div>
        <div class="bg-slate-200 rounded-b-lg text-center py-2">
          <span class="text-xl">Conversion Rate</span>
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-between">
      <span class="ml-6 mb-6 text-5xl font-semibold">Orders</span>
    </div>

    <div class="flex flex-row h-full mb-6">
      <div class="flex flex-col w-8/12 mr-6">
        <input id="search" class="ml-6 mb-6 rounded-lg p-4 w-full" placeholder="Search Orders..." type="text"/>
        <div class="bg-white w-full rounded-lg ml-6 h-full max-h-full" #card>
          <!-- Header -->
          <div class="flex flex-row text-center bg-slate-200 p-2 rounded-t-lg">
            <div class="flex flex-col w-2/12">
              <span>Order ID</span>
            </div>
            <div class="flex flex-col w-2/12">
              <span>Timestamp</span>
            </div>
            <div class="flex flex-col w-2/12">
              <span>Customer</span>
            </div>
            <div class="flex flex-col w-2/12">
              <span>Status</span>
            </div>
            <div class="flex flex-col w-1/12">
              <span>Total</span>
            </div>
            <div class="flex flex-col w-2/12">
              <span>Method</span>
            </div>
            <div class="flex flex-col w-1/12">
              <span>Items</span>
            </div>
          </div>

          <div class="flex flex-row text-center p-2 max-h-12" *ngFor="let order of orders">
            <div class="flex flex-col w-2/12">
              <span>{{ order.id }}</span>
            </div>
            <div class="flex flex-col w-2/12">
              <span>{{ order.timestamp }}</span>
            </div>
            <div class="flex flex-col w-2/12 mx-auto">
              <div class="flex flex-row text-center mx-auto">
                <img src="{{ order.pfpRoute }}" alt="Profile Picture" class="h-7 w-7 rounded-lg mr-2">
                <span>{{ order.username }}</span>
              </div>
            </div>

            <div class="flex flex-col w-2/12 mx-auto">
              <span *ngIf="order.status == Status.SUCCESS"
                    class="bg-green-500 rounded-lg pt-1 pb-1 text-white w-28 text-center mx-auto">SUCCESS</span>
              <span *ngIf="order.status == Status.FAILED"
                    class="bg-red-500 rounded-lg pt-1 pb-1 text-white w-28 text-center mx-auto">FAILED</span>
              <span *ngIf="order.status == Status.PENDING"
                    class="bg-yellow-200 rounded-lg pt-1 pb-1 text-black w-28 text-center mx-auto">PENDING</span>
              <span *ngIf="order.status == Status.REFUNDED"
                    class="bg-blue-500 rounded-lg pt-1 pb-1 text-white w-28 text-center mx-auto">REFUNDED</span>
              <span *ngIf="order.status == Status.CHARGEBACK"
                    class="bg-orange-500 rounded-lg pt-1 pb-1 text-white w-28 text-center mx-auto">CHARGEBACK</span>
            </div>
            <div class="flex flex-col w-1/12">
              <span>{{ order.total }}</span>
            </div>
            <div class="flex flex-col w-2/12 mx-auto">
              <span *ngIf="order.method == Provider.APPLE"
                    class="bg-white border w-28 text-black pl-2 pr-2 pt-1 pb-1 rounded-lg text-center mx-auto">
                <i class="bx bxl-apple"></i> Pay
              </span>
              <span *ngIf="order.method == Provider.GOOGLE"
                    class="bg-white border w-28 text-black pl-2 pr-2 pt-1 pb-1 rounded-lg text-center mx-auto">
                <i class="bx bxl-google"></i> Pay
              </span>
              <span *ngIf="order.method == Provider.PAYPAL"
                    class="bg-[#003087] w-28 text-white pl-2 pr-2 pt-1 pb-1 rounded-lg text-center mx-auto">
                <i class="bx bxl-paypal"></i> PayPal
              </span>
              <span *ngIf="order.method == Provider.VISA"
                    class="bg-[#1434cb] w-28 text-black pl-2 pr-2 max-h-8 pb-1 rounded-lg text-center mx-auto flex flex-col justify-center">
                <i class="bx bxl-visa text-white text-6xl"></i>
              </span>
              <span *ngIf="order.method == Provider.MASTERCARD"
                    class="bg-[#141413] w-28 text-white pl-2 pr-2 max-h-8 pb-1 rounded-lg text-center mx-auto flex flex-col justify-center">
                <i class="bx bxl-mastercard text-4xl"></i>
              </span>
              <span *ngIf="order.method == Provider.AMEX"
                    class="bg-[#0a7ec2] w-28 text-white pl-2 pr-2 pt-1 pb-1 rounded-lg text-center mx-auto">
                AmEx
              </span>
              <span *ngIf="order.method == Provider.DISCOVER"
                    class="bg-white border w-28 text-black pl-2 pr-2 pt-1 pb-1 rounded-lg text-center mx-auto">
                Discover
              </span>
            </div>
            <div class="flex flex-col w-1/12">
              <span>{{ order.items }}</span>
            </div>
          </div>
        </div>

      </div>


      <div class="bg-white w-4/12 rounded-lg ml-6 mb-6 mr-6 h-full">
      </div>
    </div>


  </div>
</div>



